.container {
  max-width: 1440px;
  margin: 0;
  display: flex;
  background: #f2877d;
  border-radius: 10px;
  border: 3px solid #b6382d80;
  flex: 1;
  height: 800px;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 800px;
  max-width: 720px;
  padding-left: 80px;
  padding-right: 80px;
}

.logo-container {
  width: 100%;
  max-width: 720px;
  display: flex;
  flex-direction: column;
}

svg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-top: 10px;
}

.start {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 13px;
  color: #fff;
}

a {
  text-decoration: none;
  color: #f2877d;
  font-weight: bold;
}

input {
  display: flex;
  padding: 8px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.submit {
  width: 100%;
  color: #fff;
  background: #f2877d;
  height: 50px;
  border: 1px solid #f2877d;
  border-radius: 5px;
  font-size: 25px;
  margin-top: 15px;
}

.Or {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

input:hover {
  border: 3px solid #f2877d;
  border-radius: 5px;
}

.submit:hover {
  background: #c56d65;
}

button:hover {
  cursor: pointer;
  border: 3px solid #f2877d;
  border-radius: 5px;
}
